.walker-container{
    height: 90%;
    width: 90%;
    margin: auto
}


.walker-container .outer-map-container{
    height: 90%;
    position: relative;
    border: 2px white solid;
    border-radius: 3%;

}

@media only screen and (orientation : landscape) { 
    .walker-container .outer-map-container{
        height: 80%;
    }
}
.walker-map{
    height: 96%;
    position: absolute;
    width: 96%;
    top: 2%;
    left: 2%;
}


.btn-white {
    color: white;
    border-color: white
}